@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
html,body{
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.w-100{
  width: 100%;
}
.h-100 {
  height: 100%;
}
